<html>
<head>
    <title>Kakuro</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ asset('css/kakuro.css') }}" />
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
    <h1>Kakuro</h1>
    <div id="content">design</div>
    <script>
        var vars = {
            grid_name: null
        }
    </script>
    <script src="{{ asset('js/design.js') }}"></script>
</body>
</body>
</html>