body {
  margin: 20px;
}

.kakuro-cell {
  width: 50px;
  height: 50px;
  line-height: 50px;
  float: left;
  border: 1px solid blue;
  text-align: center;
}

.blnk {
  background-color: lightblue;
}

.actv {
  color: red;
  background-color: yellow;
}

.selected-cell {
  background-color: lightsalmon;
}

.semiactive {
  background-color: lightyellow;
}

.semiactive-blnk {
  background-color: lightgreen;
}

.clr {
  clear: both;
}

.sum-box {
  background: 
   linear-gradient(to top right,
     lightblue 0%,
     lightblue calc(50% - 0.8px),
     rgba(0,0,0,1) 50%,
     lightblue calc(50% + 0.8px),
     lightblue 100%);
}

.semiactive-sum-box {
  background: 
   linear-gradient(to top right,
     lightgreen 0%,
     lightgreen calc(50% - 0.8px),
     rgba(0,0,0,1) 50%,
     lightgreen calc(50% + 0.8px),
     lightgreen 100%);
}

.kakuro-row {
  margin-left: 20px;
  height: 50px;
}

.kakuro-grid {
  padding: 20px;
  outline: none;
}

.kakuro-cell input {
  width: 48px;
  height: 48px;
}

.label-v {
  width: 20px;
  margin-left: 2px;
  margin-top: 10px;
  float: left;
}

.label-h {
  width: 20px;
  margin-right: 2px;
  margin-top: -10px;
  float: right;
}

.choice-box {
  overflow: auto;
  word-break: break-all;
  line-height: 16px;
  padding: 0px 4px;
}

.large-num {
  color: green;
  padding-top: 15px;
  font-size: 30px;
}

.cell-solved {
  background-color: yellow;
}

.error {
  background-color: indianred;
  color: white;
}

.status-box {
  font-size: xx-large;
  color: slateblue;
}

.standout {
  color: red;
}

.kak-srch-result {
  cursor:  pointer;
}